# Ignore auto save files
*~
\#*\#
.\#*

# Ignore compiled ELisp files
*.elc
*.lsp-session*

# Ignore various cache, backup and lock files created by Emacs
.cache/
auto-save-list/
backup/
bookmarks
forge-database.sqlite
projectile-bookmarks.eld
tramp
transient/
url/

# Ignore any installed packages
elpa/

# Ignore machine specific files
.last-package-update-day